.navbar a{
	color: black;
}

.dropdown .btn{
	background-color: white;
	color: black;
}

.btn-secondary{
	background-color:  #f8f9fa;
	border-style: none;
	color: rgba(0,0,0,.5)
}

.btn-outline-success{
	background-color: rgba(0,0,0,.5);
	color: white;
	border-style: none; 
	font-weight: bold;
}


.btn-outline-success:hover{
	background-color: white;
	color: rgba(0,0,0,.5);
	transition: 0.6s;
}


h1 {
 overflow: hidden;
 text-align: center;
 margin-top: 2%;
 color: #eaa519;
 font-family: 'Sofia'
}
h1:before,
h1:after {
 background-color: #eaa519;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

.ingredient{
	font-size: 14px;
	color: #868b93;
}

.pagination > li > a
{
    background-color: white;
    color: #eaa519;
}

 .map iframe {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
        margin-top: 7%;
     	border-radius: 15px;
   
       }